

*{
margin:0;
padding: 0;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
}




body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:#cae7f5 ;

}


.container{
    display: flex;
    width: 100%;
    gap: 10px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;

}

section {
    background-color: #fff;
    border-radius: 7px;
  
}

.tools-board{
    width: 300px;
    padding: 15px 22px opx;
    border: 1px solid gray;
    margin-left: 90px;
}
.tools-board .row {
    margin-bottom: 20px;
    margin:10px 0 0 5px ;

}

.row .options{
    list-style: none;
}

.row .options .option{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    cursor: pointer;

}

.option:hover{
    color: #4A98F7;
}

.options :where(label){
    color: #5a6168;
    padding-left: 10px;
   padding-bottom: 10px;
   margin-bottom: 10PX;
}


.title{
    font-size: larger;
    color: #5a6168;
    padding-left: 10px;
   padding-bottom: 15px;
   margin-bottom: 15PX;

}

.option .range{
    width: 50%;
    height: 5px;
    margin-top: 10px, 10PX, 10PX;
}

.colors .options{
display: flex;
justify-content:space-around;
align-items: center;

}

input[type="color"] {
 
    height: 30px;
    width: 30px;
    min-height: 20px;
    min-width: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(108, 68, 97);
    align-self: center;
    padding: 0;
    cursor: pointer;
    background-color: initial;
    
}

.colors .option{
    height: 30px;
    width: 30px;
    min-height: 20px;
    min-width: 20px;
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid black;
    align-self: center;
    justify-content: center;
    margin: 0 2px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 5px;
    padding: 0%;
}

div.row.buttons{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;

}
.buttons button{
    justify-content: center;
    width: 120px;
    color: #fff;
    border: none;
    outline: none;
    padding: 11px 0;
    font-size: 0,9rem;
    margin:5px 5px 5px 10px;
    background: none;
    border-radius: 5px;
    cursor: pointer;
   
}

.buttons .clear{
    color: #6c757d;
    border: 1px solid #6c757d;
}

.clear:hover{
    background-color: #6c757d;
    color:#fff
}


.buttons .save{
    background-color: #4A98F7;
    border: 1px solid #4A98F7;
}

.drawing-board{
   flex:1;
    width: 200px;
   margin-right: 90px;
   
   display: flex;
   align-items: center;
   justify-content: center;
   background:#cae7f5 ;
}
canvas{
    border-radius: 7px;
    border:1px solid gray;
}
.b1{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: #4A98F7;
}